#navbar {
  height: 4rem;
  display: flex;
  
  flex-grow: 0;

  background: #333;

  color: #ddd;


  p {
    display: inline-block;
    flex-grow: 0;
  }

  #navspacer {
    flex-grow: 1;
  }

  ul {
    display: inline-block;
    flex-grow: 0;
    list-style-type: none;


    li {
      display: inline-block;
      border: 3px solid #eee;
      margin: 0 1rem;
      padding: 0.4rem;

    }

  }

}